{% extends 'base.html' %}
{% load static %}
{% block title %}{{ car.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/car_detail.css' %}">
{% endblock %}

{% block content %}
<div class="car-detail-container">
    <h1 class="car-detail-title">{{ car.name }}</h1>
    <div class="image-gallery">
        {% for image in car.images.all %}
            <img src="{{ image.image.url }}" class="img-fluid" alt="{{ car.name }}">
        {% endfor %}
    </div>
    <div class="car-detail-info">
        <p><strong>Buraxılma Tarixi:</strong> {{ car.car_year }} </p>
        <p><strong>Motor:</strong> {{ car.engine_capacity }} </p>
        <p><strong>İcarə/Satış:</strong> {{ car.get_car_type_display }}</p>
        <p>
            {% if car.car_type == 'rent' %}
                <strong>İcarə Qiyməti:</strong> {{ car.rent_price }} AZN
            {% else %}
                <strong>Satış Qiyməti:</strong> {{ car.sale_price }} AZN
            {% endif %}
        </p>
        <p><strong>Haqqında:</strong> {{ car.description }}</p>
    </div>
</div>
{% endblock %}
