# Virtual Environment
env/
venv/

# Environment Variables
.env

# Migrations (yalnız __init__.py qalacaq)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# Database
*.sqlite3
*.db

# Compiled Python Files
*.pyc
*.pyo
__pycache__/

# Logs
logs/
*.log

# Django Static & Media Files
staticfiles/
media/

# IDE və sistem faylları
.vscode/
.idea/
.DS_Store
*.swp
