/* Ümumi Stil */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--primary-color); /* Baza CSS-dən */
    color: var(--text-primary);
}

/* Container */
.container {
    margin-top: 20px;
    max-width: 1200px;
}

/* Başlıq */
h1 {
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 30px;
}

/* Kartlar */
.card {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Kart şəkli */
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

/* Şəkil qalereyası */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery img {
    width: 280px;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

/* Mətni vurğulamaq üçün */
strong {
    color: var(--accent-color);
}

/* Buton */
.btn-custom {
    background-color: var(--primary-color);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.btn-custom:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive Dizayn */
@media (max-width: 768px) {
    .image-gallery img {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
    }
}
