{% extends 'base.html' %}
{% block title %}Haqqımızda | AS-AVTO{% endblock %}
{% block content %}
<div class="page-container">
    <h1>Haqqımızda</h1>
    <p>
        <b>AS-AVTO</b> avtomobil ehtiyat hissələri və aksesuarları üçün online platformadır. Əsas məqsədimiz müştərilərə keyfiyyətli məhsullar, geniş çeşid və sərfəli qiymətlər təqdim etməkdir. Platformamız həm fərdi istifadəçilər, həm də satıcılar üçün rahat və şəffaf alış-veriş təcrübəsi təqdim edir.
    </p>
    <ul>
        <li>Minlərlə məhsul və müxtəlif kateqoriyalar</li>
        <li>Yerli və beynəlxalq markaların ehtiyat hissələri</li>
        <li>Məhsul axtarışı və avtomobil uyğunluğuna görə filtrləmə</li>
        <li>Satıcıların öz məhsullarını əlavə etmək və idarə etmək imkanı</li>
        <li>Online sifariş, səbət və ödəniş funksiyaları</li>
        <li>Peşəkar dəstək və sürətli çatdırılma</li>
        <li>İstifadəçi və satıcı profilləri, balans və borc izləmə</li>
        <li>Məhsul bəyənmə, qiymətləndirmə və rəy sistemi</li>
        <li>Yeni gələnlər, ən çox satılanlar, ən çox bəyənilənlər və ən dəyərli məhsullar üçün xüsusi bölmələr</li>
        <li>Admin və satıcı paneli, məhsul və sifariş idarəetməsi</li>
        <li>Mobil və desktop üçün tam uyğun modern dizayn</li>
    </ul>
    <p>
        AS-AVTO komandası daim xidmət keyfiyyətini artırmaq, məhsul çeşidini genişləndirmək və müştəri məmnuniyyətini təmin etmək üçün çalışır. Təkliflərinizi və rəylərinizi paylaşmaq üçün bizimlə əlaqə saxlaya bilərsiniz.
    </p>
</div>
{% endblock %} 