{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>{{ seller.username }} - Məhsulları</h2>
    <a href="{% url 'sellers_list' %}" class="btn btn-secondary mb-3">← Bütün Satıcılar</a>
    <div class="row">
        {% for product in mehsullar %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                {% if product.sekil %}
                <img src="{{ product.sekil.url }}" class="card-img-top" alt="{{ product.adi }}">
                {% else %}
                <img src="/static/images/no_image.jpg" class="card-img-top" alt="No image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.adi }}</h5>
                    <p class="card-text">
                        <b>Brend kod:</b> {{ product.brend_kod }}<br>
                        <b>Firma:</b> {{ product.firma.adi }}<br>
                        <b>Qiymət:</b> {{ product.qiymet }} ₼<br>
                        <b>Stok:</b> {{ product.stok }}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">Bu satıcının məhsulu yoxdur.</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 