{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>Satıcı: {{ seller.username }}</h3>
    <p>Telefon: {{ seller.profile.phone }}</p>
    <p>Ünvan: {{ seller.profile.address }}</p>
    <hr>
    <h4>Satıcının Məhsulları</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Adı</th>
                <th>Brend Kod</th>
                <th>Firma</th>
                <th>Qiymət</th>
                <th>Stok</th>
                <th>Şəkil</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mehsullar %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ m.adi }}</td>
                <td>{{ m.brend_kod }}</td>
                <td>{{ m.firma.adi }}</td>
                <td>{{ m.qiymet }} ₼</td>
                <td>{{ m.stok }}</td>
                <td>
                    {% if m.sekil %}
                        <img src="{{ m.sekil.url }}" alt="{{ m.adi }}" width="60">
                    {% else %}
                        <img src="/static/images/no_image.jpg" width="60">
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">Bu satıcıya aid məhsul yoxdur.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 