<!DOCTYPE html>
{% load static %}
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Sifariş #{{ sifaris.id }} - Detallar</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/sifaris_izleme.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/snow.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="header-nav">
        <a href="{% url 'main' %}">Əsas Səhifə</a>
        <a href="{% url 'sifaris_izle' %}">Sifarişlərim</a>
        <h2>Sifariş #{{ sifaris.id }}</h2>
    </nav>

    <div class="sifaris-info">
        <div class="info-row">
            <h3>Sifariş Məlumatları</h3>
            <p><strong>Tarix:</strong> {{ sifaris.formatted_tarix }}</p>
            <div class="order-progress">
                <div class="progress-step {% if sifaris.status == 'gozleyir' or sifaris.status == 'hazirlanir' or sifaris.status == 'yoldadir' or sifaris.status == 'catdirildi' %}active{% endif %}">
                    <div class="icon-wrapper gozleyir-icon">
                        <i class="fas fa-clock"></i>
                        {% if sifaris.status != 'gozleyir' %}
                            <i class="fas fa-check check-icon"></i>
                        {% endif %}
                    </div>
                    <span>Gözləyir</span>
                </div>
                <div class="progress-line"></div>
                <div class="progress-step {% if sifaris.status == 'hazirlanir' or sifaris.status == 'yoldadir' or sifaris.status == 'catdirildi' %}active{% endif %}">
                    <div class="icon-wrapper hazirlanir-icon">
                        <i class="fas fa-box-open"></i>
                        {% if sifaris.status != 'gozleyir' and sifaris.status != 'hazirlanir' %}
                            <i class="fas fa-check check-icon"></i>
                        {% endif %}
                    </div>
                    <span>Hazırlanır</span>
                </div>
                <div class="progress-line"></div>
                <div class="progress-step {% if sifaris.status == 'yoldadir' or sifaris.status == 'catdirildi' %}active{% endif %}">
                    <div class="icon-wrapper yoldadir-icon">
                        <i class="fas fa-truck"></i>
                        {% if sifaris.status == 'catdirildi' %}
                            <i class="fas fa-check check-icon"></i>
                        {% endif %}
                    </div>
                    <span>Yoldadır</span>
                </div>
                <div class="progress-line"></div>
                <div class="progress-step {% if sifaris.status == 'catdirildi' %}active{% endif %}">
                    <div class="icon-wrapper catdirildi-icon">
                        <i class="fas fa-check-circle"></i>
                        {% if sifaris.status == 'catdirildi' %}
                            <i class="fas fa-check check-icon"></i>
                        {% endif %}
                    </div>
                    <span>Çatdırıldı</span>
                </div>
            </div>
        </div>
        <div class="info-row">
            <h3>Ödəniş Məlumatları</h3>
            <p><strong>Ümumi Məbləğ:</strong> {{ sifaris.cemi_mebleg }} AZN</p>
            <p><strong>Ödənilən Məbləğ:</strong> {{ sifaris.odenilen_mebleg }} AZN</p>
            <p class="qaliq-borc {% if sifaris.qaliq_borc < 0 %}qaliq-borc-pozitiv{% else %}qaliq-borc-negativ{% endif %}">
                <strong>Qalıq Borc:</strong> {{ sifaris.qaliq_borc }} AZN
            </p>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Məhsul Adı</th>
                    <th>Kateqoriya</th>
                    <th>Brend</th>
                    <th>Model</th>
                    <th>Brend Kod</th>
                    <th>OEM Kod</th>
                    <th>Miqdar</th>
                    <th>Qiymət</th>
                    <th>Cəmi</th>
                </tr>
            </thead>
            <tbody>
                {% for mehsul in sifaris_mehsullari %}
                <tr>
                    <td>{{ mehsul.mehsul.adi }}</td>
                    <td>{{ mehsul.mehsul.kateqoriya.adi }}</td>
                    <td>{{ mehsul.mehsul.brend.adi }}</td>
                    <td>{{ mehsul.mehsul.marka.adi }}</td>
                    <td>{{ mehsul.mehsul.brend_kod }}</td>
                    <td>{{ mehsul.mehsul.oem }}</td>
                    <td class="text-center">{{ mehsul.miqdar }}</td>
                    <td class="text-right">{{ mehsul.qiymet }} AZN</td>
                    <td class="text-right">{{ mehsul.cemi }} AZN</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                    <td colspan="2"><strong>Ümumi Cəmi:</strong></td>
                    <td class="text-right"><strong>{{ sifaris.cemi_mebleg }} AZN</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <a href="{% url 'sifaris_detallari' sifaris.id %}?pdf=true" class="btn btn-primary">PDF-ə Çevir</a>
    </div>

    <script src="{% static 'js/sifaris.js' %}"></script>
    <!-- <script src="{% static 'js/snow.js' %}"></script> -->
</body>
</html> 