<!DOCTYPE html>
{% load static %}
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Sifariş İzlə</title>
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/sifaris_izleme.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/snow.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="header-nav">
        <a href="{% url 'main' %}">Əsas Səhifə</a>
        <h2>Sifarişlərim</h2>
    </nav>

    <div class="statistic">
        <div class="stat-item">
            <h3>Ümumi Məbləğ</h3>
            <p class="amount-info">{{ toplam_mebleg }} AZN</p>
        </div>
        <div class="stat-item">
            <h3>Ödənilən Məbləğ</h3>
            <p class="amount-info">{{ odenilen_mebleg }} AZN</p>
        </div>
        <div class="stat-item">
            <h3>Qalıq Borc</h3>
            <p class="qaliq-borc {% if qaliq_borc < 0 %}qaliq-borc-pozitiv{% else %}qaliq-borc-negativ{% endif %}">
                {{ qaliq_borc }} AZN
            </p>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tarix</th>
                    <th>Cəmi Məbləğ</th>
                    <th>Ödənilən Məbləğ</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for sifaris in sifarisler %}
                <tr>
                    <td><a href="{% url 'sifaris_detallari' sifaris.id %}" class="sifaris-link">{{ sifaris.id }}</a></td>
                    <td>{{ sifaris.formatted_tarix }}</td>
                    <td>{{ sifaris.cemi_mebleg }} AZN</td>
                    <td>{{ sifaris.odenilen_mebleg }} AZN</td>
                    <td>
                        <div class="status-container">
                            <span class="status-badge status-{{ sifaris.status }}">
                                {% if sifaris.status == 'gozleyir' %}
                                    <i class="fas fa-clock pulse"></i>
                                {% elif sifaris.status == 'hazirlanir' %}
                                    <i class="fas fa-box-open bounce"></i>
                                {% elif sifaris.status == 'yoldadir' %}
                                    <div class="truck-container">
                                        <i class="fas fa-truck truck-icon"></i>
                                        <div class="smoke"></div>
                                    </div>
                                {% elif sifaris.status == 'catdirildi' %}
                                    <i class="fas fa-check-circle tada"></i>
                                {% endif %}
                                {{ sifaris.display_status }}
                            </span>
                        </div>
                    </td>
                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/sifaris.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    <!-- <script src="{% static 'js/snow.js' %}"></script> -->
</body>
</html>